<tr>
  <th scope="row">
    <div class="media align-items-center">
      <div class="media-body">
        <span class="name mb-0 text-sm"><%= room.name %></span>
      </div>
    </div>
  </th>
  <td>
    <span class="badge badge-dot mr-4">
      <% if room.status.available? %>
        <i class="bg-success"></i>
      <% else %>
        <i class="bg-warning"></i>
      <% end %>
      <span class="status text-capitalize"><%= room.status %></span>
    </span>
  </td>
  <td>
    <div class="avatar-group">
      <% if room.status.leased? && room.users.present? %>
        <%= render partial: "owner/apartments/renter", collection: room.users, as: :user %>
      <% elsif room.status.available? %>
        <p class="text-primary">None</p>
      <% end %>
    </div>
  </td>
  <td class="text-right">
    <div class="dropdown">
      <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-v"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
        <a class="dropdown-item" href="#">Edit</a>
        <%= link_to "Add service", "/owner/add-service/#{room.id}", class: "dropdown-item" %>
      </div>
    </div>
  </td>
</tr>
