<li class="checklist-entry list-group-item flex-column align-items-start py-4 px-4">
  <div class="checklist-item checklist-item-success">
    <div class="checklist-info">
      <h5 class="checklist-title mb-0"><%= service.name %></h5>
      <small><%= service.price %></small>
    </div>
  </div>
</li>