<div class="p-1 info-horizontal row">
  <div class="col-md-5">
    <h6 class="text-sm"><%= service.name %></h6>
  </div>
  <div class="col-md-7">
    <p class="mb-0"><%= format_number_to_currency service.price %> đ</p>
  </div>
</div>
