<section class="my-5 py-5">
  <div class="container">
    <div class="row">
      <div class="row justify-content-center text-center my-sm-5">
        <div class="col-lg-6">
          <span class="badge bg-primary mb-3">Infinite combinations</span>
          <h2 class="text-dark mb-0">Huge collection of sections</h2>
          <p class="lead">We have created multiple options for you to put together and customise into pixel perfect pages. </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-sm-5 mt-3">
    <div class="row">
      <div class="col-lg-3">
        <div class="position-sticky pb-lg-5 pb-3 mt-lg-0 mt-5 ps-2" style="top: 100px">
          <h3>Apartment 1</h3>
          <h6 class="text-secondary font-weight-normal pe-3">A selection of 45 page sections that fit perfectly in any combination</h6>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <div class="col-md-4 mt-md-0">
            <a href="./sections/page-sections/hero-sections.html">
              <div class="card shadow-lg move-on-hover min-height-160 min-height-160">
                <img class="w-100 my-auto" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/material-design-system/presentation/sections/headers.jpg" alt="hero">
              </div>
              <div class="mt-2 ms-2">
                <h6 class="mb-0">Room 1</h6>
                <p class="text-secondary text-sm">2.000.000đ</p>
              </div>
            </a>
          </div>
          <div class="col-md-4 mt-md-0">
            <a href="./sections/page-sections/hero-sections.html">
              <div class="card shadow-lg move-on-hover min-height-160 min-height-160">
                <img class="w-100 my-auto" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/material-design-system/presentation/sections/headers.jpg" alt="hero">
              </div>
              <div class="mt-2 ms-2">
                <h6 class="mb-0">Room 2</h6>
                <p class="text-secondary text-sm">2.000.000đ</p>
              </div>
            </a>
          </div>
          <div class="col-md-4 mt-md-0">
            <a href="./sections/page-sections/hero-sections.html">
              <div class="card shadow-lg move-on-hover min-height-160 min-height-160">
                <img class="w-100 my-auto" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/material-design-system/presentation/sections/headers.jpg" alt="hero">
              </div>
              <div class="mt-2 ms-2">
                <h6 class="mb-0">Room 3</h6>
                <p class="text-secondary text-sm">2.000.000đ</p>
              </div>
            </a>
          </div>
          <div class="col-md-4 mt-md-0">
            <a href="./sections/page-sections/hero-sections.html">
              <div class="card shadow-lg move-on-hover min-height-160 min-height-160">
                <img class="w-100 my-auto" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/material-design-system/presentation/sections/headers.jpg" alt="hero">
              </div>
              <div class="mt-2 ms-2">
                <h6 class="mb-0">Room 4</h6>
                <p class="text-secondary text-sm">2.000.000đ</p>
              </div>
            </a>
          </div>
          <div class="col-md-4 mt-md-0 mt-4">
            <a href="./sections/page-sections/features.html">
              <div class="card shadow-lg move-on-hover min-height-160 min-height-160">
                <img class="w-100 my-auto" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/material-design-system/presentation/sections/features.jpg" alt="features">
              </div>
              <div class="mt-2 ms-2">
                <h6 class="mb-0">Room 5</h6>
                <p class="text-secondary text-sm">2.000.000đ</p>
              </div>
            </a>
          </div>
          <div class="col-md-4 mt-md-0 mt-4">
            <a href="javascript:;">
              <div class="card shadow-lg move-on-hover min-height-160 min-height-160">
                <img class="w-100 my-auto opacity-6" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/material-design-system/presentation/sections/pricing.jpg" data-bs-toggle="tooltip" data-bs-placement="top" title="Pro Element" alt="pricing">
              </div>
              <div class="mt-2 ms-2">
                <h6 class="mb-0">Room 6</h6>
                <p class="text-secondary text-sm">2.000.000đ</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-lg-6">
      <div class="col-lg-3">
        <div class="position-sticky pb-lg-5 pb-3 mt-lg-0 mt-5 ps-2" style="top: 100px">
          <h3>Apartment 2</h3>
          <h6 class="text-secondary font-weight-normal pe-3">30+ components that will help go through the pages</h6>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row mt-3">
          <div class="col-md-4">
            <a href="">
              <div class="card shadow-lg move-on-hover min-height-160 min-height-160">
                <img class="w-100 m-auto" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/material-design-system/presentation/sections/navbars.jpg" alt="navbars">
              </div>
              <div class="mt-2 ms-2">
                <h6 class="mb-0">Room 1</h6>
                <p class="text-secondary text-sm">2.000.000đ</p>
              </div>
            </a>
          </div>
          <div class="col-md-4 mt-md-0 mt-4">
            <a href="">
              <div class="card shadow-lg move-on-hover min-height-160 min-height-160">
                <img class="w-100 m-auto" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/material-design-system/presentation/sections/nav-tabs.jpg" alt="navtabs">
              </div>
              <div class="mt-2 ms-2">
                <h6 class="mb-0">Room 2</h6>
                <p class="text-secondary text-sm">2.000.000đs</p>
              </div>
            </a>
          </div>
          <div class="col-md-4 mt-md-0 mt-4">
            <a href="">
              <div class="card shadow-lg move-on-hover min-height-160 min-height-160">
                <img class="w-100 m-auto" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/material-design-system/presentation/sections/pagination.jpg" alt="pagination">
              </div>
              <div class="mt-2 ms-2">
                <h6 class="mb-0">Room 3</h6>
                <p class="text-secondary text-sm">2.000.000đ</p>
                <p class="text-secondary text-sm">2.000.000đ</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
