<header class="header-rounded-images">
  <nav class="navbar-header-css navbar navbar-expand-lg  blur border-radius-xl top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
    <div class="container-fluid px-0">
      <%= link_to 'EcoStay', root_path, class: "navbar-brand font-weight-bolder ms-sm-3" %>
      <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon mt-2">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </span>
      </button>
    </div>
  </nav>
  <div class="page-header min-vh-20">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 d-flex">
        </div>
      </div>
    </div>
  </div>
</header>
